extends ../layout/layout.pug

block vars
    -title= 'Trang chủ'
    -links = data.phoneProducts;
    -links2 = data.iPadsProducts;
block main

        section.heading-detail
            ul
                li
                    a(href='') Swappa /
                li
                    a(href='') Phones /
                li
                    a(href='') Apple /
                li.active
                    a(href='') iPhones
        section.title-detail
            h2 iPhones For Sale
            span Swappa has the best deals on cheap, used and refurbished iPhones.
            ul
                li
                    a(href='#/')
                        i.fa-brands.fa-apple
                        span  Buyer&apos;s Guide
                li
                    a(href='#/')
                        i.fa-solid.fa-dollar-sign
                        span  Sell iPhone
        section.main__detail
            .list-card
                h3.detail iPhone Deals
                .row.gy-4.ab
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
        section.main__detail
            .list-card
                h3.detail
                    | iPhone 14 Series
                .row.gy-4.ab
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
        section.main__detail
            .list-card
                h3.detail
                    | iPhone 14 Series
                .row.gy-4.ab
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
                    .col-xl-2.col-6.col-sm-4
                        .local-list__item
                            .card
                                a.card__main(href='#/')
                                    .image
                                        img(src='./images/ipad1.jpg' alt='')
                                    h4 Apple iPad Air 2
                                    .reviews
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    .price
                                        .price__left
                                            i.fa-solid.fa-dollar-sign
                                            span 113
                                            del $699
                                        .price__right
                                            i.fa-brands.fa-apple
        section.detail-footer
            h2 iPhone Prices in January 2023
            span
                | Buy used to get the best price. Current iPhone 14 prices start at $699 as of January 2023.
