@keyframes leftToRight {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
@keyframes rightToLeft {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}
@keyframes opacity {
    0% {
       opacity: 0;
    }
    100% {
        opacity: 1;
    }
}