$primary-color:#008339;
$lightBlue-color:linear-gradient(transparent,#d7e0f3);
$lightGreen-color:linear-gradient(transparent,#cce6d7);
$lightPurple-color:linear-gradient(transparent,#ecd9e8);
$bg-red:#C92314;
$black-color:#212529;
$orange-color:#D14900;
$orange2-color:#C92314;

$blue-color:#006ba6;
$green-color:#4ec280;
$green2-color:rgb(18, 68, 39);
$white-color:#fff;
$violet-color:#4c2c69;
$yellow-color:#f6bd60;
$grey-color:rgb(225, 220, 220);
$grey2-color:rgb(250, 248, 248);
$grey3-color:#e9ecef;
$grey4-color:#72767a;
$shadow-color:rgba(0, 0, 0, 0.35) 0px 5px 15px;

