footer.footer
  .container
    .footer__top
      .row.gx-3.gy-5.ab
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') Buy
              li
                a(href='#/') Buyer Guides
              li
                a(href='#/') Buy Phones
              li
                a(href='#/') Buy Tablets
              li
                a(href='#/') Buy MacBooks
              li
                a(href='#/') Buy Laptops
              li
                a(href='#/') Buy iPhones
              li
                a(href='#/') Buy Apple
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') Unlocked Phones
              li
                a(href='#/') Video Games
              li
                a(href='#/')  Smartwatches
              li
                a(href='#/')  Cameras + Lenses
              li
                a(href='#/') Home Tech
              li
                a(href='#/') AirPods + Audio
              li
                a(href='#/') Drones + DJI
              li
                a(href='#/') Fitness + Cycling
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') Sell
              li
                a(href='#/') Trade-In
              li
                a(href='#/') Sell iPhones
              li
                a(href='#/') Sell Phone
              li
                a(href='#/') Sell Tablet
              li
                a(href='#/') Sell Watch
              li
                a(href='#/') Sell Laptop
              li
                a(href='#/') Sell Apple
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') IMEI Check
              li
                a(href='#/') Swappa Local
              li
                a(href='#/') Download App
              li
                a(href='#/') Carriers
              li
                a(href='#/') Phone Repair
              li
                a(href='#/') Swappa vs. eBay
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') Help
              li
                a(href='#/') FAQs
              li
                a(href='#/') Search
              li
                a(href='#/') ADA Accessibility
              li
                a(href='#/') Sustainability
              li
                a(href='#/') Prices
              li
                a(href='#/') Fees
        .col-xl-2.col-6.col-sm-4
          .top-item
            ul
              li
                a(href='#/') About Swappa
              li
                a(href='#/') Blog
              li
                a(href='#/') Forums
              li
                a(href='#/') Contact Us
              li
                a(href='#/') Press
              li
                a(href='#/') Policies
              li
                a(href='#/') Terms of Use
    .footer__bottom
      .row.gx-3.gy-3.ab
        .col-xl-4.col-sm-4.col-12
          .connect
            ul
              li
                a(href='#/')
                  i.fa-brands.fa-facebook
              li
                a(href='#/')
                  i.fa-brands.fa-twitter
              li
                a(href='#/')
                  i.fa-brands.fa-instagram
              li
                a(href='#/')
                  i.fa-brands.fa-youtube
              li
                a(href='#/')
                  i.fa-brands.fa-reddit
        .col-xl-4.col-sm-4.col-12
          .logo
            a(href='#/')
              img(src='./images/footer.svg' alt='' srcset='')
        .col-xl-4.col-sm-4.col-12
          .right
            span Copyright &copy; 2010-2022 Swappa, LLC
