header.header
  .header__content.container
    ul.header__content--nav
      li.menu
        a
          i.fa-solid.fa-bars
      li.nav-mobile.menu
        a
          i.fa-regular.fa-circle-question
      li.nav-mobile.menu
        a
          i.fa-solid.fa-circle-dollar-to-slot
    .header__content--logo
      a(href='#/')
        img(src='./images/logo.svg' alt='logo')
    ul.header__content--nav
      li.nav-mobile
        a(href='#/')
          i.fa-regular.fa-circle-user
      li.nav-mobile.menu
        a
          i.fa-solid.fa-cart-shopping
      li.menu
        a
          i.fa-solid.fa-magnifying-glass
