


nav.navbar
    .container
        ul.navbar__parents
            li.item-parent
                a(href='#/')
                    span Iphones
                    i.fa-solid.fa-caret-down
                ul.navbar__childrens
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-lock-open
                            span Unlocked
                    li.item-children
                        a(href='#/') Iphone Xr
                    li.item-children
                        a(href='#/') Iphone 1
                    li.item-children
                        a(href='#/') Iphone 11 Pro Max
                    li.item-children
                        a(href='#/') Iphone 12
                    li.item-children
                        a(href='#/') Iphone 13
                    li.item-children
                        a(href='#/') Iphone SE 2nd Gen
                    li.item-children
                        a(href='#/') Iphone 8
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-circle-info
                            span Buyers Guide
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-arrow-right
                            span All Iphones
            li.item-parent
                a(href='#/')
                    span Phones
                    i.fa-solid.fa-caret-down
                ul.navbar__childrens
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-lock-open
                            span Unlocked
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-apple
                            span Apple
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-android
                            span Samsung
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-google
                            span Google
                    li.item-children
                        a(href='#/') Verizon
                    li.item-children
                        a(href='#/') T-mobile
                    li.item-children
                        a(href='#/') AT&amp;T
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-arrow-right
                            span All Iphones
            li.item-parent
                a(href='#/')
                    span Laptops
                    i.fa-solid.fa-caret-down
                ul.navbar__childrens
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-lock-open
                            span Unlocked
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-apple
                            span Apple
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-android
                            span Samsung
                    li.item-children
                        a(href='#/')
                            i.fa-brands.fa-google
                            span Google
                    li.item-children
                        a(href='#/') Verizon
                    li.item-children
                        a(href='#/') T-mobile
                    li.item-children
                        a(href='#/') AT&amp;T
                    li.item-children
                        a(href='#/')
                            i.fa-solid.fa-arrow-right
                            span All Iphones
            li.item-parent
                a(href='#/')
                    span Computers
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Watches
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Tables
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Video Games
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Home Tech
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Cameras
                    i.fa-solid.fa-caret-down
            li.item-parent
                a(href='#/')
                    span Sell
                    i.fa-solid.fa-caret-down
