aside.sidebar
  header.sidebar__header
    .title
      img(src='./images/logowhite.svg' alt='')
      h3 Save with Swappa
    #close.close
      i.fa-solid.fa-xmark
  .sidebar__content
    .buttons
      a.active(href='#/') Login
      a(href='#/') Register
    ul.menu
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-magnifying-glass
            span Search
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-regular.fa-circle-question
            span Help
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Sell
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Trade-In
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-cart-shopping
            span Cart
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Local
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Forums
          .menu-right
            i.fa-solid.fa-arrow-right
    h3 Shop
    ul.menu
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-magnifying-glass
            span Search
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-regular.fa-circle-question
            span Help
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Sell
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Trade-In
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-cart-shopping
            span Cart
          .menu-right
            i.fa-solid.fa-ellipsis
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Local
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Forums
          .menu-right
            i.fa-solid.fa-arrow-right


aside.sidebar.help
  header.sidebar__header
    .title
      i.fa-regular.fa-circle-question
      h3 Get Help, Fast
    #close.close
      i.fa-solid.fa-xmark
  .sidebar__content
    h3 Email
    a.content-button.content-button--email(href='#/')
      i.fa-regular.fa-envelope
      |                 help@swappa.com
    h3 Need help with a listing or a sale?
    a.content-button.content-button--submit(href='#/')
      i.fa-regular.fa-circle-question
      |                 Submit Help Request
    h3 Helpful Links
    ul.helpful
      li
        a(href='#/') How to Sell
      li
        a(href='#/') FAQ Pages
      li
        a(href='#/') Other Contact
    .sub-help
      p
        | Swappa&apos;s typical response time for help requests is around 20 minutes... 
        br
        span That&apos;s really fast


aside.sidebar.sell
  header.sidebar__header
    .title
      i.fa-solid.fa-circle-dollar-to-slot
      h3 Sell with Swappa
    #close.close
      i.fa-solid.fa-xmark
  .sidebar__content
    h3 Make More Green
    a.content-button(href='#/')
      | Start Selling
      i.fa-solid.fa-arrow-right
    h3 Seller Help
    ul.helpful
      li
        a(href='#/') How to Sell
      li
        a(href='#/') Fair Fees
      li
        a(href='#/') Seller FAQ
    ul.menu
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-magnifying-glass
            span Search
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-regular.fa-circle-question
            span Help
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Sell
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Trade-In
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-cart-shopping
            span Cart
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Local
          .menu-right
            i.fa-solid.fa-arrow-right
      li.menu__item
        a(href='#/')
          .menu-left
            i.fa-solid.fa-circle-dollar-to-slot
            span Forums
          .menu-right
            i.fa-solid.fa-arrow-right

aside.sidebar.cart
  header.sidebar__header
    .title
      i.fa-solid.fa-cart-shopping
      h3 Cart, Full of Deals
    #close.close
      i.fa-solid.fa-xmark
  .sidebar__content
    .sub-help
      p
        | Your cart is empty :
  footer.sidebar__footer
    .total
      h3 Total: $0
    .find
      a(href='#/')
        | Find a good deal


aside.sidebar.search
  header.sidebar__header
    .title
      i.fa-solid.fa-magnifying-glass
      h3 Search and Save
    #close.close
      i.fa-solid.fa-xmark
  .sidebar__content
    form(action='' method='get')
      .buttons
        input(type='text' placeholder='Find a good deal')
        .icon
          i.fa-solid.fa-magnifying-glass
    h3 Trending Searches
    ul.menu
      li.menu__item
        a(href='#/')
          .menu-left
            span PlayStation 5
      li.menu__item
        a(href='#/')
          .menu-left
            span Iphone 12
      li.menu__item
        a(href='#/')
          .menu-left
            span Iphone 11
